html
{
    font-size: 16px;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
    font-family: 'helvetica', sans-serif;
    font-size: 16px;
	background: #EFEFEF;
}

a
{
    color: #000000;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;		
	background-color: rgb(255, 150, 0);
}

#accountinfo
{
	margin-top: 20px;
}

#footer
{
	padding: 50px;
	margin: 0;
	text-align: center;
	background-color: white;
	border-top: 1px solid #000;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

.navbar {
    margin-bottom: 0;
}

.m1{
	margin-top: 20px;
}

.mt{
	margin-top: 10px;
}

.mb{
	margin-bottom: 10px;
}

.mtb{
	margin-top: 10px;
	margin-bottom: 10px;
}

.bg-white{
	background-color: white;
}

.bg-black{
	background-color: black;
}

.bg-steem
{
	background-color: rgb(31,78,141);
}

.mz{
	margin-bottom: 0;
	margin-top: 0;
}

.cw{
	color: white;
}

.box-plot{
	border: 2px solid #807f7f;
	margin: 10px;
}

.width50
{
	width: 50px;
}

.info
{
	background-color: white;
	margin: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

.labelinfo
{
	font-weight: bold;
}

.message
{
	text-align: center;
	padding: 30px;
}

.responsive-plot
{
	height: 300px;
}

.user_name
{
    margin-bottom: 5px;
    font-size: 0.875rem;
}

.author
{
    
}

.timestamp
{
    color: #788187;
}

.tag
{
    color: #788187;
}

.post_content
{
    font-size: 1rem;
}

.post
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.userpic
{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    display: inline;
}

.align-image
{
    vertical-align: text-bottom;
    margin-left: 4px;
    margin-right: -30px;
}

.crop {
    width: 130px;
    height: 73.13px;
    overflow: hidden;
}

.crop img {
    awidth: 400px;
    aheight: 300px;
    amargin: -75px 0 0 -100px;
}

.loader {
  border: 2px solid #FFFFFF;  
  border-radius: 50%;
  border-top: 2px solid #06D6A9;
  border-right: 2px solid #06D6A9;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

